<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Baby Cry Categorization</title>
    <style>
        .team-card {
            background-color: #34495E;
            margin-bottom: 20px;
        }

        .team-img {
            width: 100%;
            height: auto;
        }

        .card-body {
            color: white;
        }

        .card-text {
            color: #ecf0f1;
        }

        h2 {
            color: #2C3E50;
        }

        p {
            color: #7F8C8D;
        }
    </style>
</head>
<body>

{% extends "base.html" %}

{% block content %}
    <h1>Our Team</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card team-card">
                <img class="card-img-top team-img" src="/statics/team/Fernanda.JPG" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title text-center">COO</h5>
                    <h5 class="card-title text-center">Fernanda Auristondo</h5>
                    <p class="card-text">
                        Hi, I am Fernanda and I used to work as a translator.
                        I am passionate about linguistics.
                        I love to learn from different areas, so now I will be diving into the Data Science world.
                        Besides the data and coding part, I am looking forward to meeting all my classmates too.
                        I will be happy to work with you on the next projects! Feel free to reach me anytime</p>
                </div>
            </div>
        </div>

        <!-- Repeat similar structure for other team members -->

    </div>

    <h2>Our Mission</h2>
    <p>Discover the power of our groundbreaking AI-driven solution tailored for modern parents.
        Through precise sound analysis, our innovative tool not only records
        your baby's cries but also decodes their unique needs,
        empowering you with invaluable insights and enhancing the beautiful
        journey of parenthood. Experience the confidence
        of understanding your newborn like never before with our new app.</p>

    <h2>Technologies Stack</h2>
    <p>Python, FastApi, Pandas, Librosa, Scikit-learn, Tensorflow, Keras </p>
{% endblock %}

</body>
</html>
