{% extends "base.html" %}

{% block title %}Predict - Baby Cry By Random Forest Model{% endblock %}

{% block content %}
<style>
    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: #EAEDED;
    }

    img.icon-image {
        margin-left: 10px;
    }

    p {
        color: #ECF0F1;
    }

    .custom-file-label {
        color: #ECF0F1;
    }

    .btn-primary {
        background-color: #3498DB;
        border-color: #2980B9;
    }

    .btn-primary:hover {
        background-color: #2980B9;
    }

    .text-danger {
        color: #E74C3C;
        font-weight: bold;
    }

    .text-success {
        color: #2ECC71;
        font-weight: bold;
    }

    .alert {
        border-radius: 5px;
    }

    .alert-danger {
        background-color: #E74C3C;
        border-color: #C0392B;
        color: #ECF0F1;
    }

    .alert-success {
        background-color: #2ECC71;
        border-color: #27AE60;
        color: #ECF0F1;
    }

    #analysis-message {
        display: none;
    }

    h3 {
        color: #EAEDED;
    }

    audio {
        width: 100%;
    }

    img.spectrogram-image {
        width: 100%;
        height: auto;
    }

    img.predicted-image {
        width: 700px;
    }

    p.prediction-message {
        font-size: 20px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        margin-top: 10px;
    }
</style>

<div style="display: flex; align-items: center;">
    <h1>Predict by Random Forest</h1>
    <img src="/statics/icons/forest4.png" alt="" width="70" height="70" class="icon-image"/>
</div>
<p>
    Upload a baby cry audio file, and our advanced machine learning model will analyze it to
    categorize the type of cry.
</p>

<div class="text-danger font-weight-bold">
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{error}}
    </div>
    {% endfor %}
</div>

<div class="text-success font-weight-bold">
    {% if msg %}
    <div class="alert alert-success" role="alert">
        {{msg}}
    </div>
    {% endif %}
</div>

<form id="upload-form" action="/forest" method="post" enctype="multipart/form-data">
    <div class="custom-file mb-3">
        <input type="file" class="custom-file-input" id="customFile" name="file">
        <label class="custom-file-label" for="customFile">Choose file</label>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>

<div id="analysis-message" class="mt-3">
    <p>Analysing in progress...</p>
</div>

{% if audio_base64 %}
<div class="mt-3">
    <h3>Uploaded Audio: {{filename}}</h3>
    <audio controls>
        <source src="data:audio/wav;base64,{{audio_base64}}" type="audio/wav">
        Your browser does not support the audio element.
    </audio>
</div>
{% endif %}

{% if spectrogram %}
<div class="mt-3">
    <h3>Spectrogram</h3>
    <img src="data:image/png;base64,{{spectrogram}}" alt="Spectrogram Image" class="spectrogram-image"/>
</div>
{% endif %}

{% if prediction_label %}
<div class="mt-3" style="text-align: center;">
    <img src="/statics/pics/{{ prediction_label }}/{{ random_image }}" alt="{{ prediction_label }}" class="predicted-image"/>

    <p class="prediction-message">
        {% if prediction_label == "belly_pain" %}
        Your baby is likely experiencing belly pain.
        {% elif prediction_label == "burping" %}
        Your baby is likely needing a burp.
        {% elif prediction_label == "discomfort" %}
        Your baby is likely feeling some discomfort.
        {% elif prediction_label == "hungry" %}
        Your baby is likely hungry.
        {% elif prediction_label == "tired" %}
        Your baby is likely tired.
        {% endif %}
    </p>
</div>
{% endif %}

{% endblock %}
